@import "normalize.scss";
@import "m_mixins.scss";

$min_width_tablet: 480px;
$body_text_color: #333;
$link_color: #D53E7A;
$link_hover_color: #111;

html {
    overflow-y: scroll;
    height: 100%;
}
body {
    height: 100%;
    background: #f9faf4;
    color: $body_text_color;
    font-family: proxima-nova, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h1, h2, h3 {
    font-family: "museo-sans-rounded", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100;
}
h1 {
    margin: 0 0 .2em 0;
    @include font-size(36);
    line-height: 1;
    color: #111;
}

.site-head {
    z-index: 10;
}
.site-nav {
    @include font-size(15);
    background: #23282e;
    @include shadow(0, 1px, 10px, rgba(0,0,0,0.5));

    li {
        position: relative;
        list-style: none;
        border-top: 1px #000 solid;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 1px;
            border-top: 1px #394049 solid;
        }

        &:last-child {
            border-bottom: 1px #394049 solid;
        }
    }
    a {
        display: block;
        padding: 10px 5px 10px 15px;
        text-decoration: none;
        color: #b9c4d3;

        &:hover {
            color: #fff;
        }
    }
    .lnk-a {
        display: inline-block;

        &:before {
            display: inline-block;
            margin: 0 12px 0 0;
            vertical-align: top;
            content: '';
            width: 16px;
            height: 16px;
            @include sprite(-167px, -58px);
        }
    }
    .lnk-services:before {
        background-position: -167px -81px;
    }
    .lnk-about:before {
        background-position: -167px -108px;
    }
    .lnk-contact:before {
        background-position: -167px -133px;
    }
}

.logo_cnt {
    padding: 15px;
    background: #18222f;
}
.logo_btn {
    display: block;
    width: 122px;
    height: 128px;
    margin: 0 auto;
    background: url(../../img/sprite.v7.png) 0 0 no-repeat;
    @include ir;

    @include transition(0.3s, all);

    &:hover {
        opacity: 0.6;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        filter: alpha(opacity=60);
        zoom: 1;
    }
}

#page-contents {
    position: relative;
    z-index: 0;
}
.pjax-cont {
    display: none;
}
.body_class {
    display: none;
}

.wrapper {
    width: 100%;
    max-width: 980px;
}
.main-content {
    padding: 20px;
}

footer {
    $footer_color: #e1e1e1;

    padding: 2em 0 2em 45px;
    background: #101a21;
    color: $footer_color;
    white-space: nowrap;

    @include shadow(0, 1px, 10px, rgba(0,0,0,0.2));

    // Not .lnk because of iOS transformation of telephone #
    a {
        color: $footer_color;
        @include transition(0.4s);
        text-decoration: none;

        &:hover {
            color: $link_color;
            text-shadow: 0 0 6px rgba(135,180,197,0.3);
        }
    }

    #submenu-nav {
        display: block;
        width: 30%;
        list-style: none;
        font-weight: 600;
        @include font-size(13);
        margin: 0 0 20px 0;

    }
    #contact {
        width: 40%;
        padding: 0 0 20px 0;
        @include font-size(13);
    }
    .lab {
        color: #999;
    }

    #copy {
        line-height: 1;
        @include font-size(11);

        &:before {
            display: inline-block;
            content: '';
            width: 34px;
            height: 34px;
            margin: 0 7px 0 0;
            @include sprite(-129px, 0);
            vertical-align: middle;
        }
    }


}

.ss_cont {
    position: relative;
    min-height: 100%;
    z-index: 0;
}

.ss__slide {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    &.active {
        z-index: 1;
    }
}
.ss__slide1 {
    display: block;
}

//
// Pages: Default
//
.page-head {
    position: relative;
    z-index: 1;
}
.page-body {
    position: relative;
    z-index: 0;
    @include font-size(15);
    line-height: 1.65;

    a {
        color: $link_color;
        @include transition(0.4s);

        &:hover {
            color: $link_hover_color;
            text-decoration: none;
        }
    }

    .head {
        margin: 0 0 20px 0;
        @include font-size(24);
        line-height: 1.2;
        font-weight: 500;
        color: $link_color;
        /*text-shadow: 0 1px 0 #fff;*/
    }

    h2, h3 {
        margin: 0 0 20px 0;
        @include font-size(15);
        font-weight: 500;
        color: #111;
    }
    .submenu {
        display: none;
    }
    .scrolling-contents {

    }
    //.col-topped {
    //    padding-top: 20px;
    //    border-top: 1px #cfcfcf solid;
    //}
}

//
// Pages: Home
//

.home-head {
    @include shadow(0, 1px, 10px, rgba(0,0,0,0.5));

    .ss__slide {
        right: 0;
        bottom: 0;
        text-align: center;
    }

    .ss__prev, .ss_next, .ss__counter-cont, .ss__counter {
        display: none;
    }

    .bg, .info, .btn_continue {
        display: none;
    }
}
.home-body {
    line-height: 1.2;

    h2 {
        margin: 0 0 2em 0;
        @include font-size(18);
        line-height: 1.65;
        color: $link_color;
        text-transform: none;
        font-weight: 500;
    }
    .emp {
        font-weight: 500;
    }

    .intro-cont {
        margin: 0 0 20px 0;
        padding: 0 0 20px 0;
        border-bottom: 1px #ddd solid;
    }
    .col1 {
        display: none;
    }
    .col3 {
    }
}


//
// Pages: Work
//
.work-obj {
    display: block;
    position: relative;
    width: 100%;
    height: 100px;
    text-decoration: none;
    @include font-size(13);
    border-top: 1px #ddd solid;

    .i {
        display: block;
        position: absolute;
        top: 9px;
        left: 5px;
        width: 100px;
        height: 80px;
        border: 1px #efefef solid;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .info {
        display: block;
        margin: 0 0 0 120px;
        padding: 15px 0 0 0;
        color: #666;
        overflow: hidden;
    }
    em {
        @include font-size(15);
        display: block;
        font-style: normal;
        color: $link_color;
    }

    &:hover {
        em {
            color: $link_hover_color;
        }
    }
}

//
// Pages: Services
//
.services-content {
    .service-cont {
        margin: 0 0 2em 0;
        padding: 0 0 2em 0;
        border-bottom: 1px #ddd dotted;

        ul {
            padding: 0 0 0 15px;
            list-style: square outside;
        }
    }
    h4 {
        margin: 0;
        @include font-size(15);
        font-weight: 500;
    }
    em {
        margin: 0 0 1em 0;
        font-style: normal;
        color: #000;
    }
    .proj-type {
        margin: 0 0 2em 0;
        padding: 0 0 2em 0;
        border-bottom: 1px #ddd dotted;

        &.last {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}

//
// Pages: About
//
.about-content {
    .col1 {
        padding: 0 50px 0 0;
    }
    .col2 {
        padding: 20px;
        background: #fff;
        //@include gradient(#E72170, #fff);
        border: 1px #ddd solid;
        //border-left: 1px #cfcfcf solid;
        //border-bottom: 1px #dfdfdf solid;
        //border-right: 1px #dfdfdf solid;

        @include font-size(12);

        img {
            border: 1px #ddd solid;
            max-width: 100%;
            margin: 0 0 10px 0;
        }
    }
    .people {
        margin: 50px 0 0 0;
        padding: 50px 0 0 0;
        border-top: 1px #cfcfcf solid;

        h3 {
            margin: 0;
        }
        .i {
            max-width: 200px;
        }
        .twitter {
            display: block;
            text-decoration: none;
            @include font-size(12);
        }
    }
}

//
// Pages: Contact
//
.contact-content {
    @include font-size(14);

    .label {
        color: #444;
    }
    .icn {
        display: inline-block;

        &:before {
            display: inline-block;
            margin: 0 7px 0 0;
            vertical-align: middle;
            content: '';
            width: 16px;
            height: 16px;
            @include sprite(-167px, 2px);
        }
    }
    //.icn_email:before {
    //    background-position: -167px 2px;
    //}
    .icn_tel:before {
        background-position: -167px -14px;
    }
    .icn_twitter:before {
        background-position: -167px -32px;
    }
}

#contact-map {
    display: none;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border: 1px #ddd solid;
    background: url(../../img/map.png) 0 0 no-repeat;
    cursor: pointer;

    &.active {
        background: none;
    }
}

//
// Pages: Work Individual
//
.work-ind {
    ul {
        list-style: square inside;
    }
}

.work-content {
    h1 {
        margin-bottom: 0;
    }
    .info {
        @include font-size(12);
    }
    .prev_next {
        @include font-size(12);
    }
    .pn-lnk {
        text-decoration: none;
        color: #999;
    }

    .project-info {
        @include font-size(12);
        text-transform: uppercase;
    }
    .proj_images {
        position: relative;
        margin: 20px 0;
    }
    .proj_images_mask {
        position: relative;
        overflow: hidden;

        &:hover {
            .ss__prev, .ss__next {
                @include opacity(0.7);

                &:hover {
                    @include opacity(0.8);
                    @include transition(0.1s);
                }
            }
        }
    }

    .ss__slide {
        max-width: 100%;
        border: 1px #efefef solid;        
    }
    .ss__prev, .ss__next {
        display: block;
        position: absolute;
        top: 44%;
        width: 30px;
        height: 130px;
        cursor: pointer;
        z-index: 200;
        background: rgba(0,0,0,0.7);
        @include transition(0.3s);
        @include opacity(0);

        .icn {
            display: block;
            position: absolute;
            top: 35%;
            left: 23%;
            content: '';
            width: 13px;
            height: 43px;
            @include sprite(0, -164px);
        }


    }
    .ss__prev {
        left: 0;
        border-radius: 0 5px 5px 0;
        -moz-border-radius: 0 5px 5px 0;
        -webkit-border-top-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
    }
    .ss__next {
        right: 0;
        border-radius: 5px 0 0 5px;
        -moz-border-radius: 5px 0 0 5px;
        -webkit-border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;

        .icn {
            background-position: -12px -164px;
            left: auto;
            right: 20%;
        }
    }
    .ss__counter-cont {
        display: block;
        margin: 10px 0 0 0;
        height: 20px;
        width: 100%;
        text-align: center;
        z-index: 2;
    }
    .ss__counter {
        display: inline-block;
        height: 20px;
        width: 200px;
    }
    .ss__slot {
        display: inline-block;
        width: 19px;
        height: 23px;
        @include sprite(-14px, -135px);
        cursor: pointer;

        &.active {
            cursor: default;
            background-position: 5px -135px;
        }
    }
    blockquote {
        margin: 20px 0 20px 0;
        color: #444;
        @include font-size(12);
        
        .byline {
            color: #333;
        }
    }
}


@media screen and (min-width: 480px) {
    html, body {
        background: #f2f3ed;
    }
    .wrapper {
        margin: 0 auto;
    }
    .main-content {
        padding: 20px 30px 60px 30px;
    }

    h1 {
        margin: 20px 0 6px 0;
        @include font-size(48);
        //text-shadow: 0 1px 0 #fff;
        text-rendering: optimizeLegibility;
        //letter-spacing: 0.05em;
    }
    .site-head {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        .logo_cnt {
            position: absolute;
            top: 20px;
            left: 20px;
            @include shadow(0, 1px, 10px, rgba(0,0,0,0.5));
            @include transition(0.4s);
            @include border_radius(3px);

            &:hover {
                @include no_shadow;
            }
            &:active {
                @include shadow_inner(0, 0, 7px, rgba(0,0,0,0.9));
            }
        }
    }

    .site-nav {
        position: absolute;
        top: 198px;
        left: 20px;
        padding: 0 10px 0 5px;
        @include font-size(14);
        @include shadow_inner(0, 0, 5px, rgba(0,0,0,0.8));

        li {
            float: left;
            display: block;
            border-top: none;

            &:first-child {
                border-top: none;
            }
            &:before {
                display: none;
            }
            &:after {
                content: '/';
                display: block;
                float: left;
                padding: 10px 5px;
                color: rgba(83, 83, 83, 0.65);
            }
            &:last-child {
                border-bottom: none;

                &:after {
                    content: none;
                }
            }
        }

        a {
            display: block;
            float: left;
            padding: 10px 5px 10px 10px;
            @include transition(0.7s);

            &:hover {
                text-shadow: 0 0 6px #87b4c5;
                @include transition(0.2s);
            }
        }
        .lnk-a {
            &:before {
                display: none;
            }
        }
    }
    .b_work .site-nav .lnk-work,
    .b_about .site-nav .lnk-about,
    .b_services .site-nav .lnk-services,
    .b_contact .site-nav .lnk-contact {
        color: #fff;
        text-shadow: 0 0 6px #87b4c5;
    }

    .logo_btn {
        margin: 0;
    }

    footer {
        line-height: 1.5;

        #submenu-nav {
            float: left;
            width: 30%;
            list-style: none;
            margin: 0 0 20px 0;
        }
        #contact {
            float: left;
        }
        #copy {
            float: right;
            width: 30%;
        }
    }

    .grad_cont {
        //border-left: 1px #ddd solid;
        //border-right: 1px #ddd solid;
        @include gradient(#f9faf4, #fff);
        //@include shadow(0, 0, 10px, rgba(0,0,0,0.1));
    }

    //
    // Pages: Home
    //
    .home-head {
        min-height: 100%;

        &.in-transition {
            min-height: 0;
        }

        .ss__slide {
            .info {
                display: inline-block;
                @include gradient(rgba(0,0,0,0.4), rgba(24,24,24,0.65));
                @include shadow_inner(0, 0, 5px, rgba(0, 0, 0, 0.3));
                @include border_radius(4px);
                padding: 10px 20px 13px 20px;
                color: #fff;
                text-decoration: none;
                text-align: left;

                &:hover {
                    @include shadow_inner(0, 0, 5px, rgba(0, 0, 0, 0.1));
                    @include transition(0.4s);
                    @include gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8));

                    .ss-lnk {
                        @include transition(0.2s);

                        color: $link_color;
                        text-shadow: 0 0 6px rgba(255,255,255, 0.1);
                    }
                    .init {
                        margin: -20px 0 0 0;
                    }
                }
            }
            .descript {
                display: block;
                @include font-size(11);
                height: 11px;
                height: 0.688rem;
                text-transform: uppercase;
                letter-spacing: 0.1em;
                color: rgba(255,255,255,0.8);
                overflow-y: hidden;

                .init {
                    width: 100%;
                    height: 20px;
                    margin: 0;
                    @include transition(0.2s);
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                }
                .over {
                    display: block;
                    color: rgba(0,0,0,0.6);
                }
            }
        }
        .ss-lnk {
            display: block;
            @include font-size(38);
            font-family: "museo-sans-rounded", 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 100;
            line-height: 1;
            //text-rendering: optimizeLegibility;
            //letter-spacing: 0.05em;
            margin: 0 0 4px 0;
            color: #fff;
            @include transition(0.4s);

            &:hover {
                opacity: 0.9;
                -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
                filter: alpha(opacity=90);
                zoom: 1;
            }
        }

        .ss__prev, .ss__next {
            display: block;
            position: absolute;
            top: 44%;
            width: 30px;
            height: 130px;
            cursor: pointer;
            z-index: 200;
            background: #252f3d;
            @include transition(0.3s);
            @include opacity(0.1);

            .icn {
                display: block;
                position: absolute;
                top: 35%;
                left: 23%;
                content: '';
                width: 13px;
                height: 43px;
                @include sprite(0, -164px);
            }

            &:active {
                @include opacity(0.5);
                @include shadow_inner(0, 2px, 2px, rgba(0,0,0,0.5))
            }
            &:hover {
                @include opacity(0.8);
                @include transition(0.1s);
            }
        }
        .ss__prev {
            left: 0;
            border-radius: 0 5px 5px 0;
            -moz-border-radius: 0 5px 5px 0;
            -webkit-border-top-left-radius: 0;
            -webkit-border-bottom-left-radius: 0;
        }
        .ss__next {
            right: 0;
            border-radius: 5px 0 0 5px;
            -moz-border-radius: 5px 0 0 5px;
            -webkit-border-top-right-radius: 0;
            -webkit-border-bottom-right-radius: 0;

            .icn {
                background-position: -12px -164px;
                left: auto;
                right: 20%;
            }
        }
        .ss__counter-cont {
            display: block;
            position: absolute;
            height: 20px;
            width: 100%;
            bottom: 7px;
            text-align: center;
            z-index: 2;
        }
        .ss__counter {
            display: inline-block;
            height: 20px;
            width: 200px;
        }
        .ss__slot {
            display: inline-block;
            width: 19px;
            height: 23px;
            @include sprite(-14px, -135px);
            cursor: pointer;

            &.active {
                cursor: default;
                background-position: 5px -135px;
            }
        }

        .bg {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            z-index: -1;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
    	    background-size: cover;
        }
        .info {
            display: block;
            position: absolute;
            top: 300px;
            left: 20%;
            @include opacity(0);
        }
        .btn_continue {
            display: block;
            position: absolute;
            bottom: -10px;
            right: 100px;
            width: 40px;
            height: 50px;
            padding: 0 0 0 7px;
            @include gradient(#c5191a, #900);
            @include border_radius(3px);
            border-top: 1px #bb4c4d solid;
            border-right: 1px #bb4c4d solid;
            z-index: 3;
            cursor: s-resize;
            @include ir;
            @include shadow(0, -3px, 10px, rgba(0,0,0,0.5));
            @include opacity(0.8);
            line-height: 13px;
            @include transition(0.1s);

            &:after,
            &.down:after {
                display: block;
                content: '';
                width: 27px;
                height: 19px;
                @include sprite(-27px, -175px);
                
            }
            &.down:after {
                background-position: -27px -203px;
            }

            &:hover {
                bottom: -12px;
                @include opacity(.9);
                -webkit-filter: grayscale(30%);
                -moz-filter: grayscale(30%);
            }
        }
    }
    .home-body {
        h2 {
            margin: 20px 0 40px 0;
            color: #111;
            @include font-size(48);
            line-height: 1.2;
            text-shadow: 0 1px 0 #fff;
            font-weight: 100;
        }
        .emp {
            color: #000;
        }
        h3 {
            padding-top: 20px;
            border-top: 1px #ccc dotted;
        }

        .col {

        }
        .col1 {
            display: block;
            float: left;
            width: 25%;
            padding: 0 30px 0 0;
            @include font-size(14);
            line-height: 1.6;
        }
        .col2 {
            float: left;
            width: 50%;
            padding: 0 30px 0 0;
            @include font-size(14);
            line-height: 1.6;
        }
        .intro-cont {
            display: none;
            margin: 0;
            padding: 0;
            border-bottom: none;

            &.active {
                display: block;
            }
        }

        .col3 {
            float: left;
            width: 25%;
            @include font-size(13);
            line-height: 1.6;
        }

        h3 {
            margin-bottom: 21px;
            text-shadow: 0 1px 0 #fff;
        }
        .services {
            padding: 0 0 0 13px;
            list-style: square outside;
            @include font-size(13);

            li {
                margin: 0 0 2px 0;
            }
        }
        .intro_btn {
            color: $body_text_color;
            text-decoration: none;
            @include transition(0.4s);

            &:hover {
                color: $link_color;
            }
        }
    }

    //
    // Pages: Default
    //
    .page-head {
        background: url(/static/img/bg_default.jpg) 0 0 no-repeat;
        background-attachment: fixed;
	    background-size: 100% auto;

	    &.active {
            height: 255px;
            @include shadow(0, 2px, 7px, rgba(0,0,0,0.15));
        }
    }

    .page-body {
        .head {
            margin: 10px 0 40px 0;
            @include font-size(32);
            line-height: 1.1;
            font-weight: 500;
            color: $link_color;
            /*text-shadow: 0 1px 0 #fff;*/
        }

        .col {
            float: left;
        }
        .col-topped {
            padding-top: 20px;
            border-top: 1px #ddd dotted;
        }

        .submenu {
            display: block;
            float: left;
            width: 22.05%;
            margin-right: 3.8%;
            @include font-size(12);
            position: absolute;
            z-index: 2;

            &.fixed {
                position: fixed;
                top: 20px;
                max-width: 145px;
            }

            .lnk {
                text-decoration: none;

                &.active {
                    color: $link_hover_color;
                }
            }

        }
        .submenu-list {
            list-style: square inside;

        }
        .scrolling-contents {
            margin-left: 25.85%;
            width: 71.15%;
            float: left;
            position: relative;
        }
    }

    //
    // Pages: Work
    //
    .work-obj {
        float: left;
        width: 30.75%;
        margin:0 3.8% 3.8% 0;
        height: 200px;
        @include font-size(13);
        font-weight: 400;
        border: 1px #e0e0e0 solid;
        @include transition(0.3s);

        &:nth-child(3) {
            margin-right: 0;
        }

        .i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            border: none;
            @include shadow(0, 1px, 3px, rgba(0,0,0,0.2));
        }
        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 55px;
            margin: -55px 0 0 0;
            padding: 10px 8px 4px 10px;
            background: rgba(0, 0, 0, 0.8);
            color: #999;
            z-index: 1;
            line-height: 1.3;
            @include transition(0.3s);

        }
        em {
            font-weight: 600;
            color: #fff;
        }

        &:hover {
            .i {
                -webkit-filter: grayscale(50%) blur(1px);
                -moz-filter: grayscale(50%) blur(1px);
            }
            .info {
                height: 70px;
                margin-top: -70px;
                padding: 13px 15px;
                background: #000;
                @include transition(0.3s);
            }
            em {
                color: #cfcfcf;
            }
        }
    }
    //
    // Pages: Services
    //
    .services-content {
        .service-cont {
            margin: 0 0 50px 0;
            padding: 0 0 50px 0;
        }
        .features {
            @include font-size(12);
            color: #333;
            background: #fdfdfd;
            padding: 20px;
            border: 1px #eee solid;
            @include shadow(1px, 2px, 3px, rgba(0,0,0,0.1));
        }
        .col1 {
            width: 30.75%;
            margin-right: 3.8%;
        }
        .col2 {
            width: 65.45%
        }
        .col3 {

        }
    }

    //
    // Pages: About
    //
    .about-content {
        .col1 {
            float: left;
            width: 60%;
            padding: 0 50px 0 0;
        }
        .col2 {
            float: left;
            width: 40%;
        }
    }

    //
    // Pages: Contact
    //
    .contact-content {
        .col1 {
            width: 22.05%;
            margin-right: 3.8%;
        }
        .col2 {
            width: 22.05%;
            margin-right: 3.8%;
        }
        .col3 {
            width: 48%;

        }
    }
    #contact-map {
        display: block;
    }

    //
    // Pages: Work Individual
    //
    .work-content {
        .prev_next {
            position: absolute;
            top: 20px;
            right: 65px;
            text-align: right;
        }
        .project-info {
            margin: 2px 0 10px 0;
        }
        .info {
            display: block;
            float: left;
            width: 22.05%;
            margin-right: 3.8%;
        }
        .work-ind {
            //margin-left: 25.85%;
            width: 71.15%;
            float: left;
            position: relative;
        }
        .proj_images {
            position: relative;
            margin: 0 0 20px 0;
        }

    }

}
@media screen and (min-width: 680px) {
    .main-content {
        padding: 20px 40px 60px 40px;
    }

    .site-nav {
        position: absolute;
        top: 60px;
        left: auto;
        right: 15px;
        padding: 0 10px 0 5px;
        @include font-size(18);
        @include shadow_inner(0, 0, 5px, rgba(0,0,0,0.8));

        li {
             &:after {
                margin: 0 2px 0 10px;
                padding: 10px 5px;
            }
        }

        a {
            padding: 10px 5px 10px 10px;
        }
    }

    //
    // Pages: Home
    //
    .home-head {
        .ss-lnk {
            display: block;
            @include font-size(48);
        }
    }

    //
    // Pages: Default
    //
    .page-head.active {
        height: 206px;
    }
}

@media screen and (min-width: 980px) {
    .main-content {
        padding: 20px 50px 60px 50px;
    }
    .page-body {
        .submenu {
            &.fixed {
                max-width: 185px;
            }
        }
    }
}
